.logo {
    width: auto;
    height: 200px;
    margin: 10px;
    transition: all 0.5s ease-in-out;
}

.logocontainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 1024px) {
    .logo {
        height: 150px;
    }
}

@media (max-width: 768px) {
    .logo {
        height: 100px;
    }
}