
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
  }
  
  .card {
    /* Add shadows to create the "card" effect */
    background-image: linear-gradient(to bottom, #f98af9 0%, #dc5adc 100%);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 1s;
    background-color: rgb(132, 93, 169);
    margin: 10px;
    background-size: cover;
    /* aspect ratio 1:1 */
    max-width: 40%;
    max-height: 30%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(64, 12, 100, 0.2);
    margin: 1px;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    margin: 10px;
  }
  
  .container h4 {
    /*make text visible on background image*/
    color: rgb(76, 69, 69);
    text-shadow: 1px 1px 2px rgba(94, 106, 126, 0.5);
  }
  
  .container p {
    /*make text visible on background image*/
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    /* limit length of text */
    overflow: hidden;
    max-width: 90%;
    text-overflow: ellipsis;
    width: fit-content;
    /**/
    max-height: 200px;
  }
  
  @media screen and (max-width: 1024px) {
    .card {
      /* aspect ratio 1:1 */
      max-width: 30%;
      max-height: 30%;
    }

    .container p {
      max-height: 150px;
    }
  }

  @media screen and (max-width: 768px) {
    .card {
      /* aspect ratio 1:1 */
      max-width: 20%;
      max-height: 20%;
    }

    .container p {
      max-height: 100px;
    }
  }